<!DOCTYPE html>
<html lang = "ro">
<head> 
	<title> </title>
	<meta charset="UTF-8">
	<meta name = "Author" content = "Narcis">
	<meta name = "description" content ="Magazin online de accesorii sportive de basket">
	<meta name = "keywords" content = "Adidas,adidas,superstar,harden,bascheti,Baschetball-ist, baschetball-ist">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/imagini/Main_icons_and_photos/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Main_Secundaries.css"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Style.css"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Media_queries.css"/>

</head>
<body>
    <%- include("../fragmente/Cerinte_Suplimentare_6")  %>
	<%- include("../fragmente/header")  %><!--aici adaug header-ul-->

<main>
	<figure class = "adidas-logo-main">
		<img alt="Logoul Adidas" src="/imagini/Main_icons_and_photos/Adidas/Adidas-Logo.png" width="200" height="150">
	</figure><br><br><br>

	<div class="animatie_simpla">
		<div id ="myAnimation"></div>
</div>
	<!--Aici gasim a 4-a cerinta nivel 3-1 animatie simpla , un ceas care arata live timpul folosind canvas-->
	<%- include("../fragmente/Cerinte_Suplimentare_4")  %>
	<!-------------------------------------------------------------->



<div>
	
	<!---->
	<%- include("../fragmente/SetInterval.ejs")  %>
	<!-------------------------------------------------------------->
	<div class = "text-introductiv">
		<h4>Scurtă descriere</h4>
		<ul>
			<li><p>Adidas este o companie multinațională cu sediul în Germania, care produce diverse articole sportive și a avut în 2006 o cifră de afaceri de peste 10 miliarde de euro. Adidas este al doilea cel mai mare producător de articole sportive, precedat de Nike. Companiile Puma și Adidas au luat naștere la sfârșitul anilor '40 după ce doi frați, Adolf și Rudolf Dassler, nu s-au putut pune de acord cu privire la strategice trebuia urmată de compania de încălțăminte pe care o fondaseră în 1924. </p></li>
			<li><p>Ambele companii își au sediul în același oraș aflat în regiunea de sud a Germaniei, la 200 km nord de Munchen.</p></li>
			<li><p>În anul 2005 Adidas a achiziționat compania rivală Reebok pentru suma de 3,8 miliarde de dolari pentru a ajunge din urmă Nike, din punct de vedere al vânzărilor<!--wikipedia--></p></li><br></ul>
	<p><strong>Primim noua colectie <time datetime="2020-07-21 00:00">in ziua speciala(21.07)</time>!</strong></p>
</div><br><br><br>

<!--aici pun galeria de produse(imgaini cu descriere)-imaginile de pe Adidas.com-->
<!-------------------------------------------------------->
<!-------------------------------------------------------->
<!-------------------------------------------------------->
<!-------------------------------------------------------->
<div class="galerie_produse">

	<div class="gal-responsive">
		<div class="gal">
	 	  <a href="/imagini/Main_icons_and_photos/Adidas/dame6-1.png">
				<img src="/imagini/Main_icons_and_photos/Adidas/dame6-1.png" alt="Adidas Dame 6" width="400" height="600">
			</a>
			<div class="desc_pret"><del>140.00$</del> 110.00$</div>
			<div class="desc">Dame 6 Black-red</div>
		</div>
	</div>
	  
	  
	  <div class="gal-responsive">
		<div class="gal">
		  <a href="/imagini/Main_icons_and_photos/Adidas/don1-1.png">
			<img src="/imagini/Main_icons_and_photos/Adidas/don1-1.png" alt="Adidas D.O.N.Issue" width="400" height="600">
		  </a>
		  <div class="desc_pret"><del>100.00$</del> 80.00$</div>
		  <div class="desc">D.O.N. Issue#1 Black-green</div>
		</div>
	  </div>
	  
	  <div class="gal-responsive">
		<div class="gal">
		  <a href="/imagini/Main_icons_and_photos/Adidas/harden4-1.png">
			<img src="/imagini/Main_icons_and_photos/Adidas/harden4-1.png" alt="Adidas Harden Volumul 4" width="400" height="600">
		  </a>
		  <div class="desc">140.00$</div>
		  <div class="desc">Harden Vol.4</div>
		</div>
	  </div>
	  
	  <div class="gal-responsive">
		<div class="gal">
		  <a href="/imagini/Main_icons_and_photos/Adidas/marquee-boost-1.png">
			<img src="/imagini/Main_icons_and_photos/Adidas/marquee-boost-1.png" alt="Adidas Marquees Boost 1" width="400" height="600">
		  </a>
		  <div class="desc_pret"><del>130.00$</del> 65.00$</div>
		  <div class="desc">Marquue boost 1 White-Black</div>
		</div>
	</div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/3Gspeed_reversable_jersey.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/3Gspeed_reversable_jersey.png" alt="3G Speed Jersey" width="400" height="600">
			</a>
			<div class="desc">50.00$</div>
			<div class="desc">Adidas 3G Speed Jersey Reversable</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/Adidas_ball1.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/Adidas_ball1.png" alt="Adidas Basketball Pro" width="400" height="600">
			</a>
			<div class="desc">65.00$</div>
			<div class="desc">Adidas Basketball Pro</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/Adidas_ball_2.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/Adidas_ball_2.png" alt="Adidas Basketball Black-White" width="400" height="600">
			</a>
			<div class="desc">55.00$</div>
			<div class="desc">Adidas Basketball Black-White</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/Adidas_ball_3.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/Adidas_ball_3.png" alt="Adidas Basketball Orange" width="400" height="600">
			</a>
			<div class="desc">55.00$</div>
			<div class="desc">Adidas Basketball Orange</div>
		  </div>
	  </div>
	  
	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/Adidas_ball_4.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/Adidas_ball_4.png" alt="Adidas Basketball Black-Red" width="400" height="600">
			</a>
			<div class="desc">55.00$</div>
			<div class="desc">Adidas Basketball Black-Red</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/adizero_rose1_concrete.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/adizero_rose1_concrete.png" alt="Adidas Adizero Rose 1 Concrete" width="400" height="600">
			</a>
			<div class="desc">255.00$</div>
			<div class="desc">Adidas Adizero Rose 1 Concrete</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/Crazy_BYW_2.0.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/Crazy_BYW_2.0.png" alt="Adidas Crazy BYW 2.0 Black" width="400" height="600">
			</a>
			<div class="desc">210.00$</div>
			<div class="desc">Adidas Crazy BYW 2.0 Black</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/creator_365_backpack.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/creator_365_backpack.png" alt="Adidas creator 365 black Backpack" width="400" height="600">
			</a>
			<div class="desc">75.00$</div>
			<div class="desc">Adidas creator 365 black Backpack</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/Creator_365_crewsocks-blue.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/Creator_365_crewsocks-blue.png" alt="Adidas Crew socks blue" width="400" height="600">
			</a>
			<div class="desc">20.00$</div>
			<div class="desc">Adidas Creator 365 Crew socks blue</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/Creator_365_crewsocks-red.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/Creator_365_crewsocks-red.png" alt="Adidas Crew socks red" width="400" height="600">
			</a>
			<div class="desc">20.00$</div>
			<div class="desc">Adidas Creator 365 Crew socks red</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/creator_365_crewsocks-white.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/creator_365_crewsocks-white.png" alt="Adidas Crew socks white" width="400" height="600">
			</a>
			<div class="desc">20.00$</div>
			<div class="desc">Adidas Creator 365 Crew socks white</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href=/imagini/Main_icons_and_photos/Adidas/dame5_shoes_grey.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/dame5_shoes_grey.png" alt="Adidas Dame 5 Grey" width="400" height="600">
			</a>
			<div class="desc">125.00$</div>
			<div class="desc">Adidas Dame 5 Grey</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/dame5_shoes_mint.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/dame5_shoes_mint.png" alt="Adidas Dame 5 Mint" width="400" height="600">
			</a>
			<div class="desc">125.00$</div>
			<div class="desc">Adidas Dame 5 Mint</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/dame5_shoes_orange.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/dame5_shoes_orange.png" alt="Adidas Dame 5 Orange" width="400" height="600">
			</a>
			<div class="desc">125.00$</div>
			<div class="desc">Adidas Dame 5 Orange</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/Dame6xPushaT.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/Dame6xPushaT.png" alt="Adidas Dame 6 X Pusha T" width="400" height="600">
			</a>
			<div class="desc">305.00$</div>
			<div class="desc">Adidas Dame 6 X Pusha T</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/DRose_773_2020.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/DRose_773_2020.png" alt="Adidas D Rose 773 2020" width="400" height="600">
			</a>
			<div class="desc">95.00$</div>
			<div class="desc">Adidas D Rose 773 2020 Red</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/Harden_Shorts_black.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/Harden_Shorts_black.png" alt="Adidas Harden Shorts Basketball" width="400" height="600">
			</a>
			<div class="desc">35.00$</div>
			<div class="desc">Adidas Harden Shorts Basketball</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/Harden_vol.4Black.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/Harden_vol.4Black.png" alt="Adidas Harden Vol 4 Black" width="400" height="600">
			</a>
			<div class="desc">190.00$</div>
			<div class="desc">Adidas Harden Vol 4 Black</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/low_socks_6pair.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/low_socks_6pair.png" alt="Adidas low 6Pack Socks pair white" width="400" height="600">
			</a>
			<div class="desc">25.00$</div>
			<div class="desc">Adidas Low Socks 6Pack-White</div>
		  </div>
	  </div>

	  <div class="gal-responsive">
		<div class="gal">
			<a href="/imagini/Main_icons_and_photos/Adidas/pro_bounce_shorts_white.png">
			  <img src="/imagini/Main_icons_and_photos/Adidas/pro_bounce_shorts_white.png" alt="Adidas Pro Bounce shorts White" width="400" height="600">
			</a>
			<div class="desc">45.00$</div>
			<div class="desc">Adidas Pro Bounce Shorts-White</div>
		  </div>
	  </div>

</div>
<!--pana aici galeria-->
<!-------------------------------------------------------->
<!-------------------------------------------------------->
<!-------------------------------------------------------->
<!-------------------------------------------------------->

	</div>
</main>

<%- include("../fragmente/footer")  %><!--aici adaug footer-ul-->
</body>
</html>
