<!DOCTYPE html>
<html lang = "ro">
<head> 
	<title> </title>
	<meta charset="UTF-8">
	<meta name = "Author" content = "Narcis">
	<meta name = "description" content ="Magazin online de accesorii sportive de basket">
	<meta name = "keywords" content = "baschet, basket, baschetball, basketball, nike, Nike, Adidas, adidas, NBA, nba, sport">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/imagini/Main_icons_and_photos/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Style.css"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Main_inde.css"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Bouncing-ball.css"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Media_queries.css"/>
	<script src="js/ejs.min.js"></script>
	<script src="/Cerinte_Curs.js"></script>
	
</head>
<body>
    <%- include("../fragmente/Cerinte_Suplimentare_6")  %>
	<%- include("../fragmente/header")  %><!--aici adaug header-ul-->


	<!--Aici am introdus a 5-a cerinta Nivel 1-11 schimb culoarea cu cea introdusa-->
	<%- include("../fragmente/Cerinte_Suplimentare_5")  %>
	<!------------------------------------------------------------------------------>


	<main>
	<div id = "container">
		<div id = "stanga" class = "coloana" > 
				<div id="stage">
				<div id="traveler">
				<div id="bouncer"></div>
				</div>
				</div>
		</div>
			
		<div id = "dreapta" class = "coloana" >
			<div id = "cerinta1">	
				<!--Aici se afla prima cerinta Nivel 1- cerinta 7 -->
				<%- include("../fragmente/Cerinte_Suplimentare_1")  %>
				<!--Pana aici prima cerinta-->
			</div></br>

		<div class = "main_paragraf">
			
		
		<aside>
				Acest site este un magazin online de articole sportive, special pentru baschetball.
		</aside>
		<div></br>
		
			<P>Pe aceasta pagina gasiti produse originale in panrteneriat cu firmele faimoase:Nike, Adidas, Reebok, Under Armour, dar si in parteneriat cu NBA </P>
			<p>Aici veti gasi produse realizate in parteneriate cu superstarurile lumii basketului precum:LeBron James, Michael Jordan, Kobe Bryant si multi altii.</p>
		</div></div><br><br><br><br>
			<section id = "Marci">
			
				<h2>Branduri disponibile</h2><br><br><br>
				<div class = "grid_brand">
					<div class = "grid_column_brand">
					<figure>
						<a href="Nike.ejs">
						<img alt="Nike" src="/imagini/Main_icons_and_photos/Nike/nike-logo.png" width="250" height="150">
						</a>
					</figure> <br><br><br><br>
					</div>
					<div class = "grid_column_brand">
					<figure>
						<a href="Adidas.ejs">
						<img  alt="Adidas" src="/imagini/Main_icons_and_photos/Adidas/Adidas-Logo.png" width="200" height="150">
						</a>
					</figure> <br><br><br><br>
					</div>
					<div class = "grid_column_brand">
					<figure>
						<a href="UA.ejs">
						<img alt="Under Armour" src="/imagini/Main_icons_and_photos/UA/under-armour-logo.png" width="200" height="150">
						</a>
					</figure>  <br><br><br><br>
					</div>
					<div class = "grid_column_brand">
					<figure>
						<a href="Reebok.ejs">
						<img alt="Reebok" src="/imagini/Main_icons_and_photos/Reebok/reebok-logo.png" width="200" height="150">
						</a>
					</figure>  <br><br><br><br>
					</div>
				</div>
			</section>



			
			<!--Aici se afla a 2-a cerinta nivel 1-6 numaratoare inversa pana la black friday-->
			<%- include("../fragmente/Cerinte_Suplimentare_2")  %>
			<!--------------------------------------------------------------------------------->




		</br>
			<section id = "partenership">
			<div class = "main_paragraf"><h2>Produse realizate in parteneriat cu NBA:</h2><br>
				<p>
					<strong>National Basketball Association (N.B.A.)</strong> este liga de baschet care își desfășoară activitatea în Statele Unite ale Americii și Canada.
					<br>	Din această ligă fac parte 30 de echipe dintre care 29 din Statele Unite și una din Canada și este membru activ al USA Basketball (federația americană de baschet), recunoscută de FIBA ca entitatea națională care se ocupă de baschetul din Statele Unite.
					<br>	Liga a fost fondată la 6 iunie 1946 în New York ca Asociația de Baschet a Americii. Liga a adoptat numele de Asociația Națională de Baschet (NBA) la 3 august 1949, după unificarea cu Liga Națională de Baschet (NBL). 
				</p><br><br></div>
				<p class = "nbaicon">
					<a href="NBA.ejs">
					<img  alt="NBA" src="/imagini/Main_icons_and_photos/NBA/NBAtogheder.png" width = "500" height = "280">
					</a>
				</p> <br><br><br><br><br>
			</section>


	<!--Aici se afla a 3 a cerinta Nivel 2-1 --->
	<%- include("../fragmente/Cerinte_Suplimentare_3")  %>
	<!------------------------------------------------------------------------------->

	</div>	
	</div>
	</main>


	
<%- include("../fragmente/footer")  %><!--aici adaug footer-ul-->

</body>
</html>
